<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Intro to Computer Science</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <div class="card">
    <h1>Intro to Computer Science</h1>
    <p>Welcome — The Intro to Computer Science Hub</p>

    <ul class="folders">
      <li>CalebStewart</li>
      <li>ChristiP</li>
      <li>Eliezer</li>
      <li>JoeScott</li>
      <li>OwensOsmera</li>
      <li>ShawnNoon</li>
    </ul>

  </div>
</body>

</html>